# Copy from .env.local on the Vercel dashboard
# https://nextjs.org/learn/dashboard-app/setting-up-your-database#create-a-postgres-database
POSTGRES_URL=postgresql://postgres:web@1234@localhost:5432/nextjs_dashboard
POSTGRES_PRISMA_URL=postgresql://postgres:web@1234@localhost:5432/nextjs_dashboard?pgbouncer=true&connect_timeout=15
POSTGRES_URL_NON_POOLING=postgresql://postgres:web@1234@localhost:5432/nextjs_dashboard
POSTGRES_USER=postgres
POSTGRES_HOST=localhost
POSTGRES_PASSWORD=web@1234
POSTGRES_DATABASE=nextjs_dashboard

# `openssl rand -base64 32`
AUTH_SECRET=your-secret-key
AUTH_URL=http://localhost:3000/api/auth